.err {
    color: red;
    margin-top: 0px;
    font-size: small;
}

.title {
    background-color: #181111;
    width: 100%;
    height: 60px;
    display: flex;
    border-radius: 30px 30px 0px 0px;
    align-items: center;
    gap: 1rem;
    color: white;

}

.divLabel {
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    font-weight: 200;
    font-size: 15px;
}

.izq {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    gap: 1.3rem;
}

.der {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    gap: 1.3rem;
}

.title .texto {
    text-decoration: none;
    position: relative;
    margin-left: 50px;
}


.imgPrev {
    position: relative;
    width: 125px;
}

.ulCreated {
    padding: 0px 20px 20px 20px;
}

.backBtn {
    margin-bottom: 30px;
}

.list {
    display: flex;
    justify-content: center;
}

.divSimul {
    margin-left: 15px;
    margin-right: 15px;
}

.contentCreate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cardContentC {

    align-items: center;
    justify-content: center;
    position: relative;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
    margin-bottom: 72px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    background: #FFFFFF;
}

.selectStyleCreate {

    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #e8e8e8;
    background-image: none;
    padding: 0.6rem;
    color: #212121;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15px;
    line-height: 3;
    margin-top: 15px;

}

.selectedTemp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    list-style: none;
}

.btnSelecTemp{
    background: #e8e8e8
}

.btnBack {
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    margin-top: 30px;
}

.btnBack::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #4C4B45;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.btnBack:hover {
    color: #e8e8e8;
    border: 1px solid #f1efef;
}

.btnBack:hover::before {
    width: 100%;
}