.footer {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    background: #181111;
}

.footer .credits {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 20px;
    left: -40px;
}

.footer li {
    color: white;
    display: inline-block;
    margin-left: 50px;
}

.osc {
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 20px;
}

.osc:hover {
    text-decoration: underline;
}

.linkedinFooter {

    background-color: #313035;
    border-radius: 100%;

}

.linkedinFooter:hover {
    background-color: #4C4B45;
}

.githubFooter {

    background-color: #313035;
    border-radius: 100%;

}

.githubFooter:hover {
    background-color: #4C4B45;
}